USE [master]
GO
/****** Object:  Database [ForzaGymDB]    Script Date: 03/07/2026 0:15:32 ******/
CREATE DATABASE [ForzaGymDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ForzaGymDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ForzaGymDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ForzaGymDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ForzaGymDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ForzaGymDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ForzaGymDB]
GO
/****** Object:  Table [dbo].[HistorialPesos]    Script Date: 03/07/2026 0:15:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialPesos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SocioId] [int] NOT NULL,
	[Ejercicio] [nvarchar](100) NOT NULL,
	[Peso] [decimal](5, 2) NOT NULL,
	[Fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rutinas]    Script Date: 03/07/2026 0:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rutinas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[socioId] [int] NOT NULL,
	[duracionSemanas] [int] NOT NULL,
	[enfoque] [varchar](100) NOT NULL,
	[ejercicios] [varchar](max) NOT NULL,
	[fechaCreacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socios]    Script Date: 03/07/2026 0:15:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[PlanElegido] [nvarchar](50) NULL,
	[Mensaje] [nvarchar](500) NULL,
	[FechaInscripcion] [datetime] NULL,
	[Telefono] [varchar](20) NULL,
	[Password] [nvarchar](255) NULL,
	[Rol] [nvarchar](50) NULL,
	[Peso] [decimal](5, 2) NULL,
	[Altura] [decimal](3, 2) NULL,
	[Sexo] [nvarchar](20) NULL,
	[Lesiones] [nvarchar](max) NULL,
	[ActividadExtra] [nvarchar](max) NULL,
	[FechaInicioPlan] [datetime] NULL,
	[FechaFinPlan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[HistorialPesos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[rutinas] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Socios] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Socios] ADD  DEFAULT ('cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[HistorialPesos]  WITH CHECK ADD FOREIGN KEY([SocioId])
REFERENCES [dbo].[Socios] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[rutinas]  WITH CHECK ADD FOREIGN KEY([socioId])
REFERENCES [dbo].[Socios] ([Id])
ON DELETE CASCADE
GO
USE [master]
GO
